// Import variables file
@import './variables.scss';
// Import Google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $mainColor;
    font-family: $mainFont;
    color: $mainText;
}

